/* Coming Soon */
#upcoming{
    background-image: url('./asset/bg/bg-circle.svg'), linear-gradient(80deg, #00ac95, #53c940);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}

@media only screen and (max-width: 823px){
    #upcoming{
        text-align: center;
    }
}

.speaker-photo img{
    clip-path: circle(40%);
    width: 100%;
}

/* Documentation */
.event-doc .row .col-md-6{
    width: 154px;
    height: 154px;
}
.event-doc .row img{
    object-fit: cover;
}

/* Footer */
.footer-item p{
    color: #c0daee;
}
@media only screen and (max-width: 1024px){
    .footer-item{
        margin-bottom: 20px;
    }
}
